{% extends "admin_base.html" %}
{% block main %}

<div class="card shadow">
  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">All Employee Details</h5>

    <div class="container-fluid">
      <table class="table table-bordered" id="example">
        <thead class="text-danger">
          <tr>
            <th>S No.</th>
            <th>Employee Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact No.</th>
            <th>Joining Date</th>
            <th>Action</th> <!-- Ensure this header exists -->
          </tr>
        </thead>
        <tbody>
          {% for i in employee %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.emcode }}</td>
            <td>{{ i.user.first_name }}</td>
            <td>{{ i.user.last_name }}</td>
            <td>{{ i.user.username }}</td>
            <td>{{ i.contact }}</td>
            <td>{{ i.joiningdate }}</td>
            <td>
              <!-- Add your action buttons here -->
              <a href="{% url 'edit_employee' i.id %}" class="btn btn-warning btn-sm">Edit Profile Details</a>
             <br> <a href="{% url 'delete_employee' i.user.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are You Sure')">Delete</a>
              <br> <a href="{% url 'edit_education' i.user.id %}" class="btn btn-primary   btn-sm" onclick="return confirm('Are You Sure')">Edit Education Details</a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
